@import "~@blueprintjs/core/lib/scss/variables";

.Pane2 {
    background-color: $dark-gray2;
    text-transform: none;
    font-family: monospace;
    display: block;
    line-height: 1.4;
    color: $gray5 !important;
    font-size: 13px;
    word-break: break-all;
    word-wrap: break-word;
}

.console-output {
    padding: 15px 15px;
}
