@import "~@blueprintjs/core/lib/scss/variables";

.dependencies-bar {
  order: 0;
  flex: 0 1 17%;
  align-self: auto;
  min-width: 17%;
  overflow-y: auto;
}

.heading-margin {
  margin: 10px !important;
}

.dependency-select-margin {
  margin: 10px;
  margin-top: 0px;
}

:export {
  selectBackground: $dark-gray4;
  selectHover: $blue3;
  selectCaretHover: $white;
}
