.header {
  background-color: #333 !important;
  color: #fff !important;
}

.h1 {
  margin-bottom: 0 !important;
}

.card {
  margin-bottom: 0 !important;
}

.container {
  padding: 0 !important;
  margin: 0 25px !important;
  max-width: 97.5% !important;
}
